/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

*::before,
*::after,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color-scheme: light dark;
}

body {
	font-family: $base-font;
	// font-size: $base-font-size;
	line-height: $base-line-height;
}

.loading-spinner {
	animation: spin 1s linear infinite;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
